@tailwind base;
@tailwind components;
@tailwind utilities;

.map_container{
    display: flex;
    align-items: center;
    width: 90vw;
    height: 60vh;
}

.blob_container{
    display: flex;
    justify-content:center ;
}
